Babel==0.9.6
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.4.0.2
chardet==2.2.1
click==6.7
configobj==4.7.2
Cython==0.27.3
decorator==3.4.0
Flask==0.12.2
Flask-Admin==1.5.0
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.3.2
functools32==3.2.3.post2
gunicorn==19.7.1
iniparse==0.4
int-date==0.1.8
IPy==0.75
itsdangerous==0.24
Jinja2==2.7.2
jsonpatch==1.2
jsonpointer==1.9
jsonschema==2.6.0
kitchen==1.1.1
MarkupSafe==0.11
numpy==1.13.3
pandas==0.21.0
pandas-datareader==0.5.0
perf==0.1
prettytable==0.7.2
psycopg2==2.7.3.2
pyfiglet==0.7.5
python-dateutil==2.6.1
pytz==2017.3
requests==2.6.0
requests-file==1.4.2
requests-ftp==0.3.1
six==1.9.0
SQLAlchemy==1.1.15
stockstats==0.2.0
Werkzeug==0.12.2
WTForms==2.1
